.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #7131ac, #182848);
    color: white;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .start-button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: #182848;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .start-button:hover {
    background-color: #cfced1;
    color: white;
    transform: scale(1.05);
  }
  